Repository LabZoneSK/dev-test: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

.lintstagedrc.json:

{
	"*.{ts,tsx}": ["npm run lint", "npm run prettier"],
	"*.html": "npm run prettier"
}

prettify css files as well
  .lintstagedrc.json
  src/App.css
  src/index.css
Due: none

add vitest
  package-lock.json
  package.json
  src/App.test.tsx
  src/setupTests.ts
  tsconfig.json
  vite.config.ts
Due: npm run lint, npm run prettier

init
  .env.example
  .eslintrc.cjs
  .gitignore
  README.md
  index.html
  package-lock.json
  package.json
  postcss.config.js
  public/vite.svg
  src/features/application/api/index.ts
  src/features/application/components/App.tsx
  src/features/application/components/Content.tsx
  src/features/application/components/Footer.tsx
  src/features/application/components/Header.tsx
  src/features/application/hooks/useGetFeed.ts
  src/features/application/models/index.ts
  src/index.css
  src/main.tsx
  src/shared/constants/pagination.ts
  src/shared/services/api.ts
  src/vite-env.d.ts
  tailwind.config.js
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: npm run lint, npm run prettier

base function
  src/features/application/components/Content.tsx
  src/features/application/components/Header.tsx
  src/shared/components/Card.tsx
  src/shared/components/icons/ArrowRight.tsx
  tailwind.config.js
Due: npm run lint, npm run prettier

finish
  package-lock.json
  package.json
  src/features/application/components/Card/CardList.tsx
  src/features/application/components/Content.tsx
Due: npm run lint, npm run prettier

knitcheck
  src/features/application/components/Card/Card.tsx
  src/features/application/components/Card/CardList.tsx
  src/features/application/components/Content.tsx
  src/features/application/components/Footer.tsx
  src/shared/components/icons/LoadingSpinner.tsx
  tailwind.config.js
Due: npm run lint, npm run prettier

done
  README.md
  package-lock.json
  package.json
  setupTest.ts
  src/features/application/components/Content.tsx
  src/features/application/components/Header.tsx
  src/features/application/components/__tests__/App.test.tsx
  src/features/application/hooks/useGetFeed.ts
  src/features/application/models/index.ts
  tsconfig.json
  vite.config.ts
Due: npm run lint, npm run prettier

add documentation, codecov
  .gitignore
  README.md
  package-lock.json
  package.json
Due: none

add ci
  .github/workflows/test.yml
Due: none

fix minor issues -add animation to image card -optimise the code
  package.json
  public/index.html
  src/api/dataFetch.ts
  src/components/Hero.tsx
  src/components/ImageCard.tsx
  src/components/Navbar.tsx
  src/pages/Home.tsx
  src/redux/reducers/dataReducer.tsx
  src/types/Data.ts
  yarn.lock
Due: npm run lint, npm run prettier

added test cases
  .gitignore
  package.json
  src/api/dataFetch.ts
  src/index.tsx
  src/pages/Home.tsx
  src/redux/store.ts
  src/setupTests.ts
  src/test/components/Footer.test.tsx
  src/test/components/ImageCard.test.tsx
  src/test/components/Narbar.test.tsx
  src/test/reducers/dataReducer.test.ts
  src/test/shared/mockStore.ts
  tsconfig.json
  yarn.lock
Due: npm run lint, npm run prettier

Created the basic layout without cards
  package-lock.json
  package.json
  src/App.css
  src/App.module.css
  src/App.tsx
  src/index.css
  src/variables.css
Due: npm run lint, npm run prettier

added minor changes to site
  src/animation/loader.json
  src/components/Loader.tsx
  src/components/Navbar.tsx
  src/pages/ErrorPage.tsx
  src/pages/Home.tsx
Due: npm run lint, npm run prettier

added footer fix:
  src/components/Footer.tsx
Due: npm run lint, npm run prettier

Update README.md
  README.md
Due: none

added scroll fix and minor type issue
  package.json
  src/components/ImageCard.tsx
  src/index.tsx
  src/pages/Home.tsx
  src/types/Data.ts
  yarn.lock
Due: npm run lint, npm run prettier

fix the search button design
  src/components/Hero.tsx
  src/components/ImageCard.tsx
  src/components/Navbar.tsx
  src/index.tsx
  src/pages/Home.tsx
Due: npm run lint, npm run prettier

create separate search component
  src/components/Search.tsx
  src/pages/Home.tsx
  src/test/components/Footer.test.tsx
  src/test/components/Narbar.test.tsx
Due: npm run lint, npm run prettier

basic image loading
  package-lock.json
  package.json
  src/App.module.css
  src/App.tsx
  src/FlickrFeed.tsx
  src/components/ImageCard.module.css
  src/components/ImageCard.tsx
  src/fetcher.ts
  src/index.css
  src/variables.css
Due: npm run lint, npm run prettier

basic grid layout
  src/FlickrFeed.module.css
  src/FlickrFeed.tsx
  src/components/ImageCard.module.css
Due: npm run lint, npm run prettier

remove unused packages
  package.json
  yarn.lock
Due: none

Complete grid layout
  package-lock.json
  package.json
  src/App.tsx
  src/FlickrFeed.tsx
  src/components/ImageCard.module.css
  src/components/ImageCard.tsx
  src/variables.css
Due: npm run lint, npm run prettier

added skeleton loader for showing card -tried fetching data using proxy server but wasnot an elegant solution
  package.json
  src/App.tsx
  src/api/dataFetch.ts
  src/components/Hero.tsx
  src/components/ImageCard.tsx
  src/components/Search.tsx
  src/components/Skeleton.tsx
  src/pages/Home.tsx
  yarn.lock
Due: npm run lint, npm run prettier

modify search component
  package.json
  src/components/Search.tsx
  yarn.lock
Due: npm run lint, npm run prettier

basic cleanup code
  src/components/ImageCard.tsx
  src/components/Navbar.tsx
  src/pages/Home.tsx
Due: npm run lint, npm run prettier

add test for fetching images in FlickrFeed
  src/FlickrFeed.test.tsx
  src/FlickrFeed.tsx
  src/hooks/useFlickrFeed.ts
  src/setupTests.ts
  src/utils/fetcher.ts
Due: npm run lint, npm run prettier

added loading and error states
  src/App.test.tsx
  src/App.tsx
  src/FlickrFeed.module.css
  src/FlickrFeed.test.tsx
  src/FlickrFeed.tsx
  src/components/Loader/Loader.module.css
  src/components/Loader/Loader.tsx
  src/hooks/useFlickrFeed.ts
  src/index.css
  src/utils/SWRCacheProvider.tsx
  src/utils/fetcher.ts
Due: npm run lint, npm run prettier

cleanup and update readme
  README.md
  src/App.module.css
  src/FlickrFeed.tsx
  src/assets/react.svg
  src/components/ImageCard/ImageCard.module.css
  src/components/ImageCard/ImageCard.tsx
  src/index.css
Due: npm run lint, npm run prettier

Setup
  .gitignore
  README.create-react-app.md
  README.dev-test.md
  package-lock.json
  package.json
  prettier.config.js
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
  src/reportWebVitals.js
  src/setupTests.js
  tailwind.config.js
Due: npm run prettier

Saidot-flickr-app
  saidot-flickr-app/.gitignore
  saidot-flickr-app/README.md
  saidot-flickr-app/package-lock.json
  saidot-flickr-app/package.json
  saidot-flickr-app/public/favicon.ico
  saidot-flickr-app/public/index.html
  saidot-flickr-app/public/logo192.png
  saidot-flickr-app/public/logo512.png
  saidot-flickr-app/public/manifest.json
  saidot-flickr-app/public/robots.txt
  saidot-flickr-app/src/App.css
  saidot-flickr-app/src/App.test.tsx
  saidot-flickr-app/src/App.tsx
  saidot-flickr-app/src/components/CardGallery.tsx
  saidot-flickr-app/src/components/cards.tsx
  saidot-flickr-app/src/components/footer.tsx
  saidot-flickr-app/src/components/header.tsx
  saidot-flickr-app/src/components/hooks/useFetch.tsx
  saidot-flickr-app/src/components/hooks/useLoader.tsx
  saidot-flickr-app/src/components/hooks/useObserver.tsx
  saidot-flickr-app/src/components/search.tsx
  saidot-flickr-app/src/constants.tsx
  saidot-flickr-app/src/css/header.png
  saidot-flickr-app/src/css/main.css
  saidot-flickr-app/src/index.css
  saidot-flickr-app/src/index.tsx
  saidot-flickr-app/src/logo.svg
  saidot-flickr-app/src/react-app-env.d.ts
  saidot-flickr-app/src/reportWebVitals.ts
  saidot-flickr-app/src/setupTests.ts
  saidot-flickr-app/tsconfig.json
Due: npm run lint, npm run prettier
