Repository LabZoneSK/dev-test: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier

saidot dev test change
  saidot-flickr-app/src/App.tsx
  saidot-flickr-app/src/components/cardGallery.tsx
Due: npm run lint, npm run prettier

Update README.md
  saidot-flickr-app/README.md
Due: none

constant file change'
  saidot-flickr-app/src/constants.tsx
Due: npm run lint, npm run prettier

Update README.md
  README.md
Due: none

constants changes
  saidot-flickr-app/src/constants.tsx
Due: npm run lint, npm run prettier

No result found button changes done
  saidot-flickr-app/src/App.tsx
  saidot-flickr-app/src/components/cardGallery.tsx
  saidot-flickr-app/src/components/cards.tsx
  saidot-flickr-app/src/components/hooks/useFetch.tsx
  saidot-flickr-app/src/components/search.tsx
  saidot-flickr-app/src/css/main.css
Due: npm run lint, npm run prettier

Update README
  saidot-flickr-app/package-lock.json
Due: none

README Updated
  saidot-flickr-app/README.md
  saidot-flickr-app/flickerUi.png
Due: none

README update
  saidot-flickr-app/README.md
Due: none

all the things
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.js
  src/App.test.js
  src/components/Footer.jsx
  src/components/Gallery.jsx
  src/components/Header.jsx
  src/components/Image.jsx
  src/components/Main.jsx
  src/components/Search.jsx
  src/components/Tags.jsx
  src/index.js
  src/logo.svg
  src/reportWebVitals.js
  src/services/imageServices.js
  src/setupTests.js
  tailwind.config.js
Due: npm run prettier

Create README.md
  README.md
Due: none

cleaning up
  package-lock.json
  package.json
  public/index.html
  src/components/Image.jsx
  src/services/imageServices.js
Due: npm run prettier

cleanup
  src/components/Gallery.jsx
  src/components/Tags.jsx
Due: none

Responsiveness
  src/components/Gallery.jsx
  src/components/Header.jsx
  src/components/Image.jsx
Due: none

Path conditions:
  npm run lint: any of: *.{ts,tsx}
  npm run prettier: (any of: *.{ts,tsx}) or (any of: *.{html,css})
